.card{

    background-color: white;
    flex:28%;
    margin:10px;
    padding:16px;
    max-width: 28%;
    width: 24%;  
    max-height:46%; 
      
}

.card:hover{
    box-shadow: 10px 10px 10px 10px grey; 
    transform: scale(1.1);
}

.card>div{   
    margin:10px 0px 0px 0px;
   
}

.flex{
    display: flex;
    align-items: center;
}


span{
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: bold;
}

img{
    width:100%;
    margin:auto;
    background-color: #f8f8f8;
    
}
.value{
    font-size: 16px;
    color: #9400d3;
}



@media (min-width: 319px) and (max-width: 768px) {
    .card {
        flex:100%;
        max-width: 100%;  
    }
   
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        flex:40%;
        max-width: 39%;  
    }


}

@media (min-width: 1024px) {
    .card {
        flex:40%;
        max-width: 18%;
      
    }
} 
